<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Janus</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/AccountForm.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container body-content">
        @RenderBody()
        @using System.Web.Optimization
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - JANUS- Matthew Martin 000338807</p>
        </footer>
    </div>
</body>
</html>