<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Janus</title>
    @Styles.Render("../Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container body-content">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Schedule", "UserDashboard")">Janus</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">

                        <li>@Html.ActionLink("My Schedule", "Schedule", "UserDashboard", null, null)</li>
                        <li>@Html.ActionLink("Make Request", "MakeRequest", "UserDashboard", null, null)</li>
                        <li>@Html.ActionLink("Mailbox", "Mail", "UserDashboard", null, null)</li>

                        @if (@Session["accessLevel"].ToString() == "Manager")
                        {

                            <li>@Html.ActionLink("Admin Panel", "AdminDashboard", "AdminDashboard", null, null)</li>
                        }
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <p class="navbar-text navbar-left"><a href="@Url.Action("Account", "UserDashboard")" class="navbar-link">@Session["name"]</a></p>
                        <p class="navbar-text navbar-right" style="padding-right:2em;"><a href="/Login/Logout/" class="navbar-link">Logout</a></p>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        @RenderBody()
        @using System.Web.Optimization

        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <hr />

        <footer>
            <p>&copy; @DateTime.Now.Year - JANUS- Matthew Martin 000338807</p>
        </footer>
    </div>
</body>
</html>