@{
    ViewBag.Title = "Fire Employee";
    Layout = "~/Views/Shared/_AccountFormLayout.cshtml";
}

@model Janus.Users
<center>

    <h2>Delete Employee</h2>
    @using (Html.BeginForm("delete", "AdminDashboard", FormMethod.Post, new { id = "popupForm" }))
    {
        @Html.HiddenFor(a => a.userID)
        <div class="form-group">
            <label>First Name</label>
            <p>@Model.firstName</p>
        </div>

        <div class="form-group">
            <label>Last Name</label>
            <p>@Model.lastName</p>
        </div>

        <div class="form-group">
            <label>Role</label>
            <p>@Model.role</p>
        </div>

        <div class="form-group">
            <label>Department Name</label>
            <p>@Model.departmentName</p>
        </div>

        <div>
            <input type="submit" value="Fire" />
        </div>
    }
</center>