@model Janus.Users
@{
    ViewBag.Title = "Edit Employee";
    Layout = "~/Views/Shared/_AccountFormLayout.cshtml";
}
<center>
    <h1>Edit Employee</h1>
    @using (Html.BeginForm("save", "AdminDashboard", FormMethod.Post, new { id = "popupForm" }))
    {
        if (Model != null && Model.userID > 0)
        {
            @Html.HiddenFor(a => a.userID)
        }

        <div class="form-group">
            <label>First Name</label>
            @Html.TextBoxFor(a => a.firstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.firstName)
        </div>
        <div class="form-group">
            <label>Last Name</label>
            @Html.TextBoxFor(a => a.lastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.lastName)
        </div>
        <div class="form-group">
            <label>Role</label>
            @Html.TextBoxFor(a => a.role, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.role)
        </div>
        <div class="form-group">
            <label>Department Name</label>
            @Html.TextBoxFor(a => a.departmentName, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.departmentName)
        </div>

        <div>
            <input type="submit" value="Save" />
        </div>
    }
    
</center>