
@model Janus.Models.PrintSchedViewModel

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Day
        </th>
        <th>
            Start Time
        </th>
        <th>
            End Time
        </th>
        <th>
            Position
        </th>
        <th></th>
    </tr>

    @foreach (Janus.Models.PrintSchedViewModel item in ViewBag.data)
    {
        <tr>
            <td>
                @item.lastName,@item.firstName
            </td>
            <td>
                @item.shiftDate
            </td>
            <td>
                @item.shiftStart:00
            </td>
            <td>
                @item.shiftEnd:00
            </td>
            <td>
                @item.position
            </td>
        </tr>
    }
</table>

<a class="btn btn-default popup" href="/AdminDashboard/GeneratePDF">Print</a>