@{
    ViewBag.Title = "ShiftManagement";
    Layout = "~/Views/Shared/_MainNavigationLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Area | Pages</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="http://cdn.ckeditor.com/4.6.1/standard/ckeditor.js"></script>
</head>

<style>
    body {
        background: #f4f4f4;
    }

    /* Custom */
    .main-color-bg {
        background-color: #e4e57c !important;
        border-color: #e4e57c !important;
        color: #ffffff !important;
    }

    /* Header */
    #header {
        background: #333333;
        color: #ffffff;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }

        #header .create {
            padding-top: 20px;
        }

    /* Breadcrumb */
    .breadcrumb {
        background: #cccccc;
        color: #333333;
    }

        .breadcrumb a {
            color: #333333;
        }

    /* Progress Bars */
    .progress-bar {
        background: #333333;
        color: #ffffff;
    }

    .dash-box {
        text-align: center;
    }

    #login {
        margin-top: 30px;
    }
</style>
<body>
    <h1 style="text-align:left"><span class="title">Admin Da</span>shboard</h1>
    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <a href="/AdminDashboard/AdminDashboard" class="list-group-item active main-color-bg">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard
                        </a>
                        <a href="@Url.Action("ManageEmployees", "AdminDashboard")" class="list-group-item"><img src="~/Content/Images/Iconset/manage_employees.png" width="25" height="25"></img> Manage Employees </a>
                        <a href="@Url.Action("MakeSchedule", "AdminDashboard")" class="list-group-item"><img src="~/Content/Images/Iconset/build_schedule.png" width="25" height="25"></img> Make Schedule </a>
                        @if (ViewBag.newClaims > 0)
                        {
                            <a href="@Url.Action("ManageRequests", "AdminDashboard")" class="list-group-item"><img src="~/Content/Images/Iconset/manage_requests.png" width="25" height="25"></img>(@ViewBag.newClaims) Manage Requests </a>
                        }
                        @if (ViewBag.newClaims == 0)
                        {
                            <a href="@Url.Action("ManageRequests", "AdminDashboard")" class="list-group-item"><img src="~/Content/Images/Iconset/manage_requests.png" width="25" height="25"></img>Manage Requests </a>
                        }
                        @if (ViewBag.newRequests > 0)
                        {
                            <a href="@Url.Action("ShiftManagement", "AdminDashboard")" class="list-group-item"><img src="~/Content/Images/Iconset/shift_management.png" width="25" height="25"></img>(@ViewBag.newRequests) Shift Management </a>
                        }
                        @if (ViewBag.newRequests == 0)
                        {
                            <a href="@Url.Action("ShiftManagement", "AdminDashboard")" class="list-group-item"><img src="~/Content/Images/Iconset/shift_management.png" width="25" height="25"></img>Shift Management </a>
                        }

                        <a href="@Url.Action("DownloadSchedule", "AdminDashboard")" class="list-group-item"><img src="~/Content/Images/Iconset/download_schedule.png" width="25" height="25"></img> View/Download Schedule </a>
                    </div>

                    <div class="well">
                        <h4>Absence Statistics</h4>
                        <table>
                            <tr>
                                <td>Total Absences: </td>
                                <td>@ViewBag.claimCount</td>
                            </tr>
                            <tr>
                                <td>Total Illnesses: </td>
                                <td>@ViewBag.illnessCount</td>
                            </tr>
                            <tr>
                                <td>Total Book Offs: </td>
                                <td>@ViewBag.bookOffCount</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-9">
                    <!-- Website Overview -->
                    <div class="panel panel-default">
                        <div class="panel-heading main-color-bg">
                            <h3 class="panel-title">Shift Transfer Management</h3>
                        </div>
                        <div class="panel-body">

                            <br>
                            <table class="table table-striped table-hover">

                                <thead>
                                    <tr>
                                        <th>Requestor</th>
                                        <th>Requestor shift</th>
                                        <th>Requestor shift ID</th>
                                        <th>Requesting With</th>
                                        <th>Requesting With ID</th>
                                        <th>Requesting With Shift</th>
                                    </tr>
                                </thead>
                                @if (ViewBag.requestCount == null)
                                {
                                    <tr>
                                        <td>No Shift Switch Requests!</td>
                                    </tr>
                                }
                                @if (ViewBag.requestCount != null)
                                {
                                    <tbody>
                                        @foreach (Janus.Models.ShiftSwapViewModel item in ViewBag.data)
                                        {
                                            <tr>
                                                <td>
                                                    @item.requestor
                                                </td>

                                                <td>
                                                    @item.requestorID
                                                </td>
                                                <td>
                                                    @item.requestorShift
                                                </td>
                                                <td>
                                                    @item.requestWith
                                                </td>
                                                <td>
                                                    @item.requestWithID
                                                </td>
                                                <td>
                                                    @item.requestWithShift
                                                </td>

                                                <td>
                                                    <a class="btn btn-default popup" href="/AdminDashboard/approveshift/@item.shiftRequestID">Approve</a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-danger popup" href="/AdminDashboard/denyshift/@item.shiftRequestID">Deny</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                }
                            </table>

                            <script src="~/Scripts/jquery-3.1.1.min.js"></script>
                            <script src="~/Scripts/jquery.validate.min.js"></script>
                            <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
                            <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
                            <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>