@{
    ViewBag.Title = "My Account";
    Layout = "~/Views/Shared/_MainNavigationLayout.cshtml";
}
<link rel="stylesheet"
      type="text/css"
      href="~/Content/account.css" />
<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
        background-color: #00B2AD;
    }

    .position {
        color: #E4E575;
        font-size: 18px;
    }

    button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

   

        button:hover, a:hover {
            opacity: 0.7;
        }
</style>
<body>

    <h1 class="alert-danger">@ViewBag.error</h1>

    <section class="container">

        <h1 style="text-align:center"><span class="title">My Acc</span>ount</h1>
        <div class="left-half">
            <article>

                <div class="card">
                    
                    <img src="~/Content/Images/Janus-Avatar.png" alt="John" style="width:100%">
                   @foreach (Janus.Models.AccountViewModel item in ViewBag.data)
                    {
                    <h1>@item.firstName @item.lastName</h1>
                    <p class="position">@item.role</p>
                    <p>Birth Date:  @item.birthDate</p>
                    <p>Phone:  @item.phone</p>
                    <p>Email:  @item.email</p>
                    <p>Address:  @item.streetAddress</p>
                    <p>Postal Code:  @item.postalCode</p>
                    <p>Department:  @item.departmentName</p>
                    <p>Hire Date:  @item.hireDate</p>
                    <p><a class="btn btn-default popup" href="/UserDashboard/editprofile/@item.userID">Edit Profile</a></p><br />
                   }
                   
                </div>
            </article>
        </div>
        <div class="right-half" style="width:70%;">
            <article>
                @if (ViewBag.shiftCount == null)
                {
                    <div class="alert alert-warning">
                        <center>
                            <h1 style=" padding-top:8em; padding-bottom:8em;">@ViewBag.noData</h1>
                        </center>
                    </div>
                    <!--<h1 style="text-align:center;"></h1>-->

                }
                @if (ViewBag.shiftCount != null)
                {
                    <h1 style="text-align:center;">Upcoming Shifts</h1> <br />
                }

                <ul class="event-list">

                    @foreach (Janus.Models.ScheduleViewModel item in ViewBag.shiftData)
                    {

                        <li>
                            <time datetime="@Convert.ToDateTime(item.shiftDate).ToString("d MMM yyyy")">
                                <span class="month">@Convert.ToDateTime(item.shiftDate).ToString("d MMM yyyy")</span>
                            </time>
                            <div class="info">
                                <h2 class="title">Time: @item.shiftStart:00 - @item.shiftEnd:00</h2>
                                <p class="desc">Position: @item.position</p>
                                <ul>
                                    <li style="width:50%;"><a href="@Url.Action("SelectEmployee", "Forms")"><spa><span class="fa fa-globe"></span>Switch Shift</a></li>
                                    <li style="width:50%;"><a href="@Url.Action("AbsenceClaim", "Forms")"><sp><span class="fa fa-globe"></span>Call In Sick</a></li>
                                </ul>
                            </div>
                        </li>

                    }
                </ul>
            </article>
        </div>
    </section>
</body>