@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Shared/_MainNavigationLayout.cshtml";
}

<link rel="stylesheet"
      type="text/css"
      href="~/Content/schedule.css" />
<h1><span class="title">Sche</span>dule</h1>

<div class="container">
    <div class="row">
        <div class="[ col-xs-12  col-sm-12 col-md-12 col-lg-12 ]">
            <h3>Hi @Session["name"], Here is your Schedule </h3><br />
            <table>
                <tr>
                    <td>

                        <ul class="event-list">

                            <h3>@ViewBag.noData</h3>
                           
                            @foreach (Janus.Models.ScheduleViewModel item in ViewBag.data)
                            {
                           
                               
                                <li style="float:left;">
                                    <h2 style="text-align:center;">@Convert.ToDateTime(item.shiftDate).DayOfWeek</h2>
                                    <time datetime="@Convert.ToDateTime(item.shiftDate).ToString("d MMM yyyy")">
                                        <span class="month">@Convert.ToDateTime(item.shiftDate).ToString("d MMM yyyy")</span>
                                    </time>
                                    <div class="info">
                                        <h2 class="title">Time: @item.shiftStart:00 - @item.shiftEnd:00</h2>
                                        <p class="desc">Position: @item.position</p>
                                        <ul>
                                            <li style="width:50%;"><a href="@Url.Action("SelectEmployee", "Forms")"><sp><span class="fa fa-globe"></span>Swtich Shift</a></li>
                                            <li style="width:50%;"><a href="@Url.Action("AbsenceClaim", "Forms")"><sp><span class="fa fa-globe"></span>Call In Sick</a></li>
                                        </ul>
                                    </div>
                                </li>
                                

                            }
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>