
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-4 col-md-4">
        </div>
        <div class="col-xs-4 col-md-4 text-center">
            <img src="/Content/Images/logo.png" height="225" width="250" style="margin-left: 6em;" />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <fieldset style="width: 400px">
                    <legend>Create Account</legend>
                    <p>
                        <label for="firstName">First Name:</label>
                        @Html.TextBox("firstName")
                       <!-- <%= Html.ValidationMessage("firstName", "*")%>-->
                    </p>

                    <p>
                        <label for="lastName">Last Name:</label>
                        @Html.TextBox("lastName")
                        <!-- <%= Html.ValidationMessage("firstName", "*")%>-->
                    </p>

                    <p>
                        <label for="streetAddress">Address:</label>
                        @Html.TextBox("streetAddress")
                        <!-- <%= Html.ValidationMessage("firstName", "*")%>-->
                    </p>

                    <p>
                        <label for="postalCode">Postal Code:</label>
                        @Html.TextBox("postalCode")
                        <!-- <%= Html.ValidationMessage("firstName", "*")%>-->
                    </p>

                    <p>
                        <label>Company: @Html.DropDownList("companylist", ViewData["comapnylist"] as SelectList) </label>
                    </p>

                    <!--MAKE LABEL FOR SECURITY QUESTION ALSO ADD FUNCTIONALITY TO VOERWRITE PASSWORD AND ANSWER ELEMENT ON TABLE-->


                    <p>
                        <label for="Password">Password:</label>
                        @Html.Password("*")
                      
                    </p>

                    <p>
                        <label for="Confirm">Postal Code:</label>
                        @Html.TextBox("postalCode")
                        <!-- <%= Html.ValidationMessage("firstName", "*")%>-->
                    </p>
                    
                    <p>
                        <input type="submit" value="Login" />
                    </p>
                </fieldset>
            }

        
        </div>
        <div class="col-xs-4 col-md-4 text-right">
        </div>
    </div>
</div>

