

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-4 col-md-4">
        </div>
        <div class="col-xs-4 col-md-4 text-center">
            <img src="/Content/Images/logo.png" height="225" width="250" style="margin-left: 6em;" />

            <div>
                <p>@ViewBag.Error</p>
            </div>

            @using (Html.BeginForm("CreateUser","Register", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <fieldset style="width: 500px">
                    <legend>Create Account</legend>
                    <p>
                        <label for="firstName">First Name:</label>
                        @Html.TextBox("firstName")
                       <!-- <%= Html.ValidationMessage("firstName", "*")%>-->
                    </p>

                    <p>
                        <label for="lastName">Last Name:</label>
                       @Html.TextBox("lastName")
                        <!-- <%= Html.ValidationMessage("firstName", "*")%>-->
                    </p>

                    <p>
                        <label for="streetAddress">Address:</label>
                        @Html.TextBox("streetAddress")
                        <!-- <%= Html.ValidationMessage("firstName", "*")%>-->
                    </p>

                    <p>
                        <label for="postalCode">Postal Code:</label>
                        @Html.TextBox("postalCode")
                        <!-- <%= Html.ValidationMessage("firstName", "*")%>-->
                    </p>

                    <p>
                        <label for="phone">Phone Number:</label>
                        @Html.TextBox("phone")
                        <!-- <%= Html.ValidationMessage("firstName", "*")%>-->
                    </p>


                    <p>
                        <label for="birthDate">Birth Date:</label>
                        @Html.TextBox("birthDate")
                        <!-- <%= Html.ValidationMessage("firstName", "*")%>-->
                    </p>

                    <p>
                        <label>Department: </label>
                        <select name="departmentList">
                            <option value="6" selected>Sales Floor</option>
                            <option value="2">Music Lessons</option>
                        
                        </select>
                    </p>

                    <p>
                        <label for="email">Email:</label>
                        @Html.TextBox("email")
                        <!-- <%= Html.ValidationMessage("firstName", "*")%>-->
                    </p>


                    <p>
                        <label for="Password">Password:</label>
                        @Html.Password("password")
                      
                    </p>

                    <p>
                        <label for="Confirm">Confirm Password:</label>
                        @Html.Password("confirmpassword")
                        <!-- <%= Html.ValidationMessage("firstName", "*")%>-->
                    </p>


                    <!-- MAKE THIS INTO A PARTIAL VIEW-->
                    <p>
                        <label>Security Question: </label>
                        <select name="questionList">
                            <option value="1" selected>What was your favorite Elementary School Teacher's Name?</option>
                            <option value="2">In What city did your mother and father meet?</option>
                            <option value="3">What is your youngest sibling's birthday?</option>
                            <option value="4">What is the first name of the boy or girl that you first kissed?</option>
                            <option value="5">What was the name of your first pet?</option>
                            <option value="6">What was your childhood nickname?</option>

      

                        </select>

                      
                    </p>

                    <p>
                        <label for="securityAnswer">Answer:</label>
                        @Html.TextBox("securityAnswer")
                    </p>
                    
                    <p>
                        <input type="submit" value="Create Account" />
                    </p>
                </fieldset>
            }

        
        </div>
        <div class="col-xs-4 col-md-4 text-right">
        </div>
    </div>
</div>

